In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import datetime

#  Import and read the csv.
import pandas as pd 
waste_df = pd.read_csv("./resources/austin_waste_and_diversion.csv", error_bad_lines=False, delimiter=',', skip_blank_lines=True)
waste_df.head()

,dropoff_site,load_id,load_time,load_type,load_weight,report_date,route_number,route_type
0,MRF,328118,5/27/2009 12:55,RECYCLING - SINGLE STREAM,4060.0,5/27/2009,DW1,RECYCLING - SINGLE STREAM
1,BRAKER SITE,308336,12/16/2008 10:55,SWEEPING,NaN,12/16/2008,NW10-R,STREET CLEANING-RESIDENTIAL
2,TDS - MRF,541514,9/6/2012 13:56,RECYCLING - SINGLE STREAM,5060.0,9/6/2012,RHBU20,RECYCLING - SINGLE STREAM
3,TDS LANDFILL,689059,3/14/2016 7:56,SWEEPING,3720.0,3/14/2016,DSS04,SWEEPER DUMPSITES
4,HORNSBY BEND,108272,12/2/2004 15:29,YARD TRIMMING,13840.0,12/2/2004,YH08,YARD TRIMMINGS

In [2]:
routes_df = pd.read_csv("./resources/GarbageRecycle2015RR.csv", error_bad_lines=False, delimiter=',', skip_blank_lines=True)
routes_df.head()

,LANDFILL,the_geom,GARB_RT,GARB_DAY,GARB_SUP,SUPER_NUM,OP_TYPE,RT_OLD
0,TDS,MULTIPOLYGON (((-97.70618263474258 30.36741600...,PAH83,Thursday,Gilbert,697.0,Auto,NaN
1,TDS,MULTIPOLYGON (((-97.83236579358113 30.16212865...,PAM54,Monday,Castillo,500.0,Auto,PAM84
2,TDS,MULTIPOLYGON (((-97.72977104057442 30.19009265...,PAM71,Monday,Carnline,596.0,Auto,NaN
3,TDS,MULTIPOLYGON (((-97.65374103416144 30.26269210...,PAH54,Thursday,Castillo,500.0,Auto,PAH75
4,TDS,MULTIPOLYGON (((-97.64683377149026 30.38640132...,PAW71,Wednesday,Carnline,596.0,Auto,NaN

In [3]:
waste_df.dtypes

dropoff_site     object
load_id           int64
load_time        object
load_type        object
load_weight     float64
report_date      object
route_number     object
route_type       object
dtype: object

In [4]:
waste_df.describe()

             load_id   load_weight
count  535181.000000  4.788040e+05
mean   421736.006940  1.158039e+04
std    198963.512162  7.800556e+03
min    101222.000000 -4.480000e+03
25%    245010.000000  5.440000e+03
50%    387215.000000  1.082000e+04
75%    608054.000000  1.656000e+04
max    750483.000000  1.562821e+06

In [5]:
waste_df.nunique()

dropoff_site        33
load_id         535143
load_time       423013
load_type           18
load_weight       5116
report_date       4342
route_number      1787
route_type          37
dtype: int64

In [6]:
route_total = waste_df.groupby(["route_number"]).count()["route_type"]
route_total

route_number
0BM00            10
ABR01             3
AFD-FIREWISE      9
BKR-BR            9
BKR-YT           74
               ...
YW12            223
YW13             59
YWNON1           28
YWNON5            3
ZILKER           51
Name: route_type, Length: 1787, dtype: int64

In [7]:
load_counts = waste_df.groupby(["load_type"]).count()["load_id"]
load_counts

load_type
BAGGED LITTER                      40
BRUSH                           30043
BULK                            29373
DEAD ANIMAL                      5109
GARBAGE COLLECTIONS            188255
LITTER                           1187
MATTRESS                            3
MIXED LITTER                     1223
MULCH                            1276
RECYCLED METAL                    613
RECYCLING - COMINGLE            29533
RECYCLING - PAPER               30490
RECYCLING - PLASTIC BAGS           38
RECYCLING - SINGLE STREAM       94336
SWEEPING                        68599
TIRES                            2237
YARD TRIMMING                   52814
YARD TRIMMING - X-MAS TREES        12
Name: load_id, dtype: int64

In [20]:
# Convert load_time to datetime 
waste_df["load_time"] = pd.to_datetime(waste_df["load_time"])
waste_df.dtypes

dropoff_site            object
load_id                  int64
load_time       datetime64[ns]
load_type               object
load_weight            float64
report_date             object
route_number            object
route_type              object
dtype: object

In [21]:
# Extract year from load_time to new load_year column
waste_df["load_year"] = waste_df["load_time"].apply(lambda x: x.year)
waste_df.head(5)

,dropoff_site,load_id,load_time,load_type,load_weight,report_date,route_number,route_type,load_year
0,MRF,328118,2009-05-27 12:55:00,RECYCLING - SINGLE STREAM,4060.0,5/27/2009,DW1,RECYCLING - SINGLE STREAM,2009
1,BRAKER SITE,308336,2008-12-16 10:55:00,SWEEPING,NaN,12/16/2008,NW10-R,STREET CLEANING-RESIDENTIAL,2008
2,TDS - MRF,541514,2012-09-06 13:56:00,RECYCLING - SINGLE STREAM,5060.0,9/6/2012,RHBU20,RECYCLING - SINGLE STREAM,2012
3,TDS LANDFILL,689059,2016-03-14 07:56:00,SWEEPING,3720.0,3/14/2016,DSS04,SWEEPER DUMPSITES,2016
4,HORNSBY BEND,108272,2004-12-02 15:29:00,YARD TRIMMING,13840.0,12/2/2004,YH08,YARD TRIMMINGS,2004

In [42]:
# Filter by 2017
df_2017 = waste_df[waste_df.load_year == 2017]
df_2017.head()

,dropoff_site,load_id,load_time,load_type,load_weight,report_date,route_number,route_type,load_year
10,TDS LANDFILL,732809,2017-03-22 07:40:00,GARBAGE COLLECTIONS,15840.0,3/22/2017,SXSW2017,SPECIAL EVENTS,2017
56,TDS LANDFILL,736509,2017-04-19 17:35:00,GARBAGE COLLECTIONS,20680.0,4/19/2017,PAW50,GARBAGE COLLECTION,2017
62,TDS LANDFILL,724256,2017-01-12 13:29:00,GARBAGE COLLECTIONS,21660.0,1/9/2017,PM41,GARBAGE COLLECTION,2017
90,HORNSBY BEND,747204,2017-07-20 12:36:00,YARD TRIMMING,5720.0,7/20/2017,YH12,YARD TRIMMINGS,2017
92,TDS LANDFILL,740763,2017-05-24 00:00:00,BULK,5580.0,5/24/2017,BU07,BULK,2017

In [43]:
df_2017.nunique()

dropoff_site       20
load_id         26045
load_time       18951
load_type          16
load_weight      2037
report_date       253
route_number      977
route_type         26
load_year           1
dtype: int64

In [45]:
df_2017 = df_2017.drop(["load_id","load_time"], axis = 1)
df_2017.head()

,dropoff_site,load_type,load_weight,report_date,route_number,route_type,load_year
10,TDS LANDFILL,GARBAGE COLLECTIONS,15840.0,3/22/2017,SXSW2017,SPECIAL EVENTS,2017
56,TDS LANDFILL,GARBAGE COLLECTIONS,20680.0,4/19/2017,PAW50,GARBAGE COLLECTION,2017
62,TDS LANDFILL,GARBAGE COLLECTIONS,21660.0,1/9/2017,PM41,GARBAGE COLLECTION,2017
90,HORNSBY BEND,YARD TRIMMING,5720.0,7/20/2017,YH12,YARD TRIMMINGS,2017
92,TDS LANDFILL,BULK,5580.0,5/24/2017,BU07,BULK,2017

In [55]:
# weight of trash by year by route
df_2017 = df_2017.groupby(["load_year","route_number"]).sum("load_weight")
df_2017_new = pd.DataFrame(df_2017)
df_2017_new.head(20)

AttributeError: 'function' object has no attribute 'groupby'

In [49]:
df_2017.nunique

<bound method DataFrame.nunique of                         load_weight
load_year route_number
2017      0BM00            117420.0
          BLN-01                0.0
          BR01             525100.0
          BR02             388520.0
          BR03             346910.0
...                             ...
          YW09             975760.0
          YW10             466320.0
          YW12             241580.0
          YWNON1           261480.0
          YWNON5            22600.0

[977 rows x 1 columns]>

In [53]:
df_2017 = df_2017.loc[df_2017["load_weight"] == 0]

AttributeError: 'function' object has no attribute 'loc'

In [40]:
#waste_by_year_by_route_df = waste_by_year_by_route_df[waste_by_year_by_route_df.load_year == 2017]
#waste_by_year_by_route_df.head()
waste_by_year_by_route_df.columns

Index(['load_id', 'load_weight'], dtype='object')

In [ ]:
# merge

In [ ]:
# drop na

In [ ]:
# convert load time to date, drop report date because report date could vary from load time

In [ ]:
# figure out range of dates

In [4]:
import zipcodes
from pprint import pprint
pprint(zipcodes.similar_to('78', zips=zipcodes.filter_by(active=True, city='Austin')))

y': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.2919',
  'long': '-97.7165',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': [],
  'world_region': 'NA',
  'zip_code': '78722',
  'zip_code_type': 'STANDARD'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.3041',
  'long': '-97.6875',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': [],
  'world_region': 'NA',
  'zip_code': '78723',
  'zip_code_type': 'STANDARD'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.2951',
  'long': '-97.6137',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': [],
  'world_region': 'NA',
  'zip_code': '78724',
  'zip_code_type': 'STANDARD'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.2459',
  'long': '-97.6100',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': ['Hornsby Bend'],
  'world_region': 'NA',
  'zip_code': '78725',
  'zip_code_type': 'STANDARD'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.4272',
  'long': '-97.8435',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': [],
  'world_region': 'NA',
  'zip_code': '78726',
  'zip_code_type': 'STANDARD'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512', '737'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.4290',
  'long': '-97.7226',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': [],
  'world_region': 'NA',
  'zip_code': '78727',
  'zip_code_type': 'STANDARD'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512', '737'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.4521',
  'long': '-97.6981',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': [],
  'world_region': 'NA',
  'zip_code': '78728',
  'zip_code_type': 'STANDARD'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Williamson County',
  'lat': '30.4559',
  'long': '-97.7574',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': ['Jollyville'],
  'world_region': 'NA',
  'zip_code': '78729',
  'zip_code_type': 'STANDARD'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.3630',
  'long': '-97.8366',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': [],
  'world_region': 'NA',
  'zip_code': '78730',
  'zip_code_type': 'STANDARD'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.3450',
  'long': '-97.7702',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': ['Camp Mabry'],
  'world_region': 'NA',
  'zip_code': '78731',
  'zip_code_type': 'STANDARD'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.3802',
  'long': '-97.8944',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': ['Four Points', 'Marshall Ford'],
  'world_region': 'NA',
  'zip_code': '78732',
  'zip_code_type': 'STANDARD'},
 {'acceptable_cities': ['Bee Cave', 'Bee Caves'],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.3207',
  'long': '-97.8831',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': [],
  'world_region': 'NA',
  'zip_code': '78733',
  'zip_code_type': 'STANDARD'},
 {'acceptable_cities': ['Bee Cave', 'Bee Caves', 'Lakeway'],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.3822',
  'long': '-97.9564',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': ['Hudson Bend'],
  'world_region': 'NA',
  'zip_code': '78734',
  'zip_code_type': 'STANDARD'},
 {'acceptable_cities': ['Sunset Valley'],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.2697',
  'long': '-97.8611',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': ['Oak Hill'],
  'world_region': 'NA',
  'zip_code': '78735',
  'zip_code_type': 'STANDARD'},
 {'acceptable_cities': ['Bee Cave', 'Bee Caves'],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.2567',
  'long': '-97.9424',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': ['Circleville', 'Oak Hill'],
  'world_region': 'NA',
  'zip_code': '78736',
  'zip_code_type': 'STANDARD'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Hays County',
  'lat': '30.1756',
  'long': '-97.9590',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': [],
  'world_region': 'NA',
  'zip_code': '78737',
  'zip_code_type': 'STANDARD'},
 {'acceptable_cities': ['Bee Cave',
                        'Bee Caves',
                        'Lakeway',
                        'The Hills',
                        'Village Of The Hills',
                        'Vlg O The Hls'],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.3048',
  'long': '-97.9967',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': [],
  'world_region': 'NA',
  'zip_code': '78738',
  'zip_code_type': 'STANDARD'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.1748',
  'long': '-97.8878',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': [],
  'world_region': 'NA',
  'zip_code': '78739',
  'zip_code_type': 'STANDARD'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.2313',
  'long': '-97.7142',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': ['Montopolis'],
  'world_region': 'NA',
  'zip_code': '78741',
  'zip_code_type': 'STANDARD'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.2399',
  'long': '-97.6581',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': [],
  'world_region': 'NA',
  'zip_code': '78742',
  'zip_code_type': 'STANDARD'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.1754',
  'long': '-97.7373',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': ['Bluff Springs', 'Colton', 'Pilot Knob'],
  'world_region': 'NA',
  'zip_code': '78744',
  'zip_code_type': 'STANDARD'},
 {'acceptable_cities': ['Sunset Valley'],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.2007',
  'long': '-97.7971',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': [],
  'world_region': 'NA',
  'zip_code': '78745',
  'zip_code_type': 'STANDARD'},
 {'acceptable_cities': ['Rollingwood', 'West Lake Hills', 'West Lake Hls'],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.2957',
  'long': '-97.8137',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': [],
  'world_region': 'NA',
  'zip_code': '78746',
  'zip_code_type': 'STANDARD'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.1207',
  'long': '-97.7544',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': [],
  'world_region': 'NA',
  'zip_code': '78747',
  'zip_code_type': 'STANDARD'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.1640',
  'long': '-97.8226',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': ['San Leanna'],
  'world_region': 'NA',
  'zip_code': '78748',
  'zip_code_type': 'STANDARD'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.2071',
  'long': '-97.8606',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': ['Oak Hill'],
  'world_region': 'NA',
  'zip_code': '78749',
  'zip_code_type': 'STANDARD'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.4141',
  'long': '-97.8070',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': [],
  'world_region': 'NA',
  'zip_code': '78750',
  'zip_code_type': 'STANDARD'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.3101',
  'long': '-97.7250',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': [],
  'world_region': 'NA',
  'zip_code': '78751',
  'zip_code_type': 'STANDARD'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.3341',
  'long': '-97.6999',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': [],
  'world_region': 'NA',
  'zip_code': '78752',
  'zip_code_type': 'STANDARD'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.3797',
  'long': '-97.6773',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': ['Dessau'],
  'world_region': 'NA',
  'zip_code': '78753',
  'zip_code_type': 'STANDARD'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.3661',
  'long': '-97.6441',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': ['Dell Computers', 'Sprinkle'],
  'world_region': 'NA',
  'zip_code': '78754',
  'zip_code_type': 'STANDARD'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.2667',
  'long': '-97.7428',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': [],
  'world_region': 'NA',
  'zip_code': '78755',
  'zip_code_type': 'PO BOX'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.3205',
  'long': '-97.7375',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': [],
  'world_region': 'NA',
  'zip_code': '78756',
  'zip_code_type': 'STANDARD'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.3532',
  'long': '-97.7337',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': [],
  'world_region': 'NA',
  'zip_code': '78757',
  'zip_code_type': 'STANDARD'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512', '737'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.3842',
  'long': '-97.7072',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': [],
  'world_region': 'NA',
  'zip_code': '78758',
  'zip_code_type': 'STANDARD'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.3979',
  'long': '-97.7487',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': ['Balcones'],
  'world_region': 'NA',
  'zip_code': '78759',
  'zip_code_type': 'STANDARD'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.2667',
  'long': '-97.7428',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': [],
  'world_region': 'NA',
  'zip_code': '78760',
  'zip_code_type': 'PO BOX'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.2667',
  'long': '-97.7428',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': [],
  'world_region': 'NA',
  'zip_code': '78761',
  'zip_code_type': 'PO BOX'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.2667',
  'long': '-97.7428',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': [],
  'world_region': 'NA',
  'zip_code': '78762',
  'zip_code_type': 'PO BOX'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.2667',
  'long': '-97.7428',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': [],
  'world_region': 'NA',
  'zip_code': '78763',
  'zip_code_type': 'PO BOX'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.2667',
  'long': '-97.7428',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': [],
  'world_region': 'NA',
  'zip_code': '78764',
  'zip_code_type': 'PO BOX'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.2667',
  'long': '-97.7428',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': [],
  'world_region': 'NA',
  'zip_code': '78765',
  'zip_code_type': 'PO BOX'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.2667',
  'long': '-97.7428',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': [],
  'world_region': 'NA',
  'zip_code': '78766',
  'zip_code_type': 'PO BOX'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.2667',
  'long': '-97.7428',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': [],
  'world_region': 'NA',
  'zip_code': '78767',
  'zip_code_type': 'PO BOX'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.2667',
  'long': '-97.7428',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': [],
  'world_region': 'NA',
  'zip_code': '78768',
  'zip_code_type': 'PO BOX'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.26',
  'long': '-97.74',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': [],
  'world_region': 'NA',
  'zip_code': '78769',
  'zip_code_type': 'PO BOX'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.2667',
  'long': '-97.7428',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': ['Veterans Administration'],
  'world_region': 'NA',
  'zip_code': '78772',
  'zip_code_type': 'UNIQUE'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.2667',
  'long': '-97.7428',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': ['Dept Of Public Safety'],
  'world_region': 'NA',
  'zip_code': '78773',
  'zip_code_type': 'UNIQUE'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.2667',
  'long': '-97.7428',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': ['State Comptroller'],
  'world_region': 'NA',
  'zip_code': '78774',
  'zip_code_type': 'UNIQUE'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.2667',
  'long': '-97.7428',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': ['Texas Workforce Commission'],
  'world_region': 'NA',
  'zip_code': '78778',
  'zip_code_type': 'UNIQUE'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.2667',
  'long': '-97.7428',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': ['Tx Dept Of Motor Vehicles'],
  'world_region': 'NA',
  'zip_code': '78779',
  'zip_code_type': 'UNIQUE'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.26',
  'long': '-97.74',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': ['Jp Morgan Chase'],
  'world_region': 'NA',
  'zip_code': '78780',
  'zip_code_type': 'UNIQUE'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.26',
  'long': '-97.74',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': ['Ncnb Nations Bank'],
  'world_region': 'NA',
  'zip_code': '78781',
  'zip_code_type': 'UNIQUE'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.2667',
  'long': '-97.7428',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': ['City Water And Light Dept'],
  'world_region': 'NA',
  'zip_code': '78783',
  'zip_code_type': 'UNIQUE'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.26',
  'long': '-97.74',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': ['Southern Union Gas Company'],
  'world_region': 'NA',
  'zip_code': '78785',
  'zip_code_type': 'UNIQUE'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.26',
  'long': '-97.74',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': ['Capital Natl Tx Commrc Bank'],
  'world_region': 'NA',
  'zip_code': '78789',
  'zip_code_type': 'UNIQUE'},
 {'acceptable_cities': [],
  'active': True,
  'area_codes': ['512'],
  'city': 'Austin',
  'country': 'US',
  'county': 'Travis County',
  'lat': '30.2667',
  'long': '-97.7428',
  'state': 'TX',
  'timezone': 'America/Chicago',
  'unacceptable_cities': ['Rmx'],
  'world_region': 'NA',
  'zip_code': '78799',
  'zip_code_type': 'STANDARD'}]

In [2]:
pip install zipcodes

Collecting zipcodes
  Using cached zipcodes-1.1.2-py2.py3-none-any.whl (717 kB)
Installing collected packages: zipcodes
Successfully installed zipcodes-1.1.2
Note: you may need to restart the kernel to use updated packages.